.swiper-pagination {
  position: relative !important;
  z-index: 9999 !important;
  margin-top: 30px;
}

.swiper-pagination-bullet {
  width: 35px !important;
  height: 10px !important;
  border-radius: 8px !important;
  background: #f7c52d60 !important;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: var(--primary-color) !important;
}
