.top-bar {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.link-underline {
  position: relative;
  display: inline-block;
  font-size: 18px;
  color: white;
}

.link-underline::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  left: 0;
  bottom: 0;
  background-color: var(--primary-color); /* amber-400 */
  transition: width 0.3s ease-in-out;
}

.link-underline:hover::after {
  width: 100%;
}

.menu-active {
  font-size: 18px;
  color: var(--primary-color);
  background-color: transparent;
  border-bottom: 0px solid var(--primary-color);
  box-shadow: none;
  font-weight: bold;
  border-radius: 0;
}

.menu :where(li) > :not(:is(ul, .menu-title, details, .btn)):active {
  background-color: transparent;
}

.header-dark {
  background-color: black;
}
/* Sticky Header Css */
.header-main {
  background-color: #000;
  position: sticky;
  top: 0;
  z-index: 9999;
  transition: transform 0.4s ease, opacity 0.4s ease;
  will-change: transform, opacity;
}

/* Hidden on scroll down */
.header-hide {
  transform: translateY(-100%);
  opacity: 0;
  pointer-events: none;
}

/* Visible on scroll up */
.header-show {
  transform: translateY(0);
  opacity: 1;
}

/* Optional dark theme handling */
.header-dark {
  background-color: #000;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}
