.feature-image {
  position: relative;
  background-image: url("/images/commonbanner.jpg"); /* ✅ Replace with your image path */
  background-size: cover;
  background-position: center;
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 100%;
}

.feature-image::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Dark overlay */
  z-index: 1;
}
.swiper-pagination {
  position: relative !important;
  z-index: 9999 !important;
}

.swiper-pagination-bullet {
  width: 35px !important;
  height: 9px !important;
  border-radius: 8px !important;
  background: #f7c52d60 !important;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: var(--primary-color) !important;
}

/* Tailwind does not have direct sticky bottom limit, so use inline style or custom class */
.sticky-sidebar {
  position: sticky;
  top: 230px; /* adjust based on your header height or desired offset */
  align-self: start;
}
.ticket-tabs {
  padding: 15px 0px;
  padding-bottom: 40px;
}
.top-minus-badge {
  margin-top: -30px;
  z-index: 5;
  position: relative;
}
.top-minus-badge span {
  margin-top: -10px;
  padding: 20px;
  border-radius: 60px;
  z-index: 5;
  position: relative;
}
